<!-- TODO

	* More templates
	* Text substitutions to shorten text
	* Associated info display
	* Copy templates from radReport?

-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>NeuroTool: Structured Reports</title>
	<link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/bootstrap.min.css')%%" />
	<link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/bootstrap-vue.css')%%" />
	<link href="%% url_for('static', filename='css/VueBootstrapTypeahead.css')%%" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/mytemplate.css')%%" />
	<!-- Load polyfills to support older browsers -->
	<script src="%% url_for('static', filename='js/polyfill.min.js')%%"></script>
	<!-- Required scripts -->
	<script src="%% url_for('static', filename='js/vue.js')%%"></script>
	<script src="%% url_for('static', filename='js/bootstrap-vue.js')%%"></script>
	<script src="%% url_for('static', filename='js/lodash.js')%%"></script>
	<!-- Type Ahead Library -->
	<script src="%% url_for('static', filename='js/VueBootstrapTypeahead.umd.min.js')%%"></script>
</head>

<body>
	<div id="app">

		<b-navbar toggleable="lg" type="dark" variant="info">
			<b-navbar-brand href="#">NeuroTool</b-navbar-brand>

	    <b-button-toolbar right>
	    	<b-nav-text class="px-2" v-if="logged_in">Welcome {{user_name}}</b-nav-text>
				<b-button class="px-2"v-if="logged_in == false"  v-b-modal.login-modal>Log in</b-button>
				<b-button class="px-2" v-if="logged_in == false"  v-b-modal.register-modal>Register</b-button>
				<b-button class="px-2" v-if="logged_in == true" @click="logout()" >Log out</b-button>
	    </b-button-toolbar>
			<!--<a href="%% url_for('logout')%%">Logout Here</a>-->

		</b-navbar>

		<b-modal id="login-modal" title="Log in" >
			<form action="" method = "POST">
			    <p>Email <b-form-input  v-model="user_email"/></p>
			    <p>Password <b-form-input type="password" v-model="user_password"></p>
			</form>
			 
			<!--<a href = "%%url_for('register') %%">Don't have an account? Sign up</a>-->
			<b-button variant="link" v-b-modal.register-modal @click="$bvModal.hide('login-modal')">Don't have an account? Sign up</b-button>

			<template #modal-footer="{ close }">
				<b-button @click="login(); $bvModal.hide('login-modal')">Submit</b-button>
			</template>
		</b-modal>

		<b-modal id="register-modal" title="Create account" >
			<p>Registering allows you to create and save templates. </p>
				<form action="" method = "POST">
			    	<p>Email <b-form-input  v-model="user_email"/></p>
			    	<p>Username <b-form-input  v-model="user_name_submit"/></p>
			    	<p>Password <b-form-input type="password" v-model="user_password"></p>
				</form>

			<template #modal-footer="{ close }">
				<b-button @click="register(); $bvModal.hide('register-modal')">Submit</b-button>
			</template>		
		</b-modal>

		<b-modal :id="copyModal.id" :title="copyModal.title" ok-only >
			<p>The report has been copied to the clipboard!</p>
			<b-form-group>
				<b-form-textarea rows="20" v-model="copyModal.text">
				</b-form-textarea>
			</b-form-group>
		</b-modal>

		<b-modal :id="xmlModal.id" :title="xmlModal.title" ok-only>
			<b-form-group>
				<b-form-textarea rows="20" :value="xmlModal.text">
				</b-form-textarea>
			</b-form-group>
		</b-modal>

		<b-container fluid="sm">
			<p></p>
			
			<b-container v-if="template == ''"
			style="background-color:rgb(255, 255, 239); padding: 10px; border-radius: 5px">
			
		</b-container>
		<p></p>

		<!--<b-form-group label=" Search for template:">
			<vue-bootstrap-typeahead v-model="search" :data="templates" :serializer="item => item.name" placeholder="E.g. CT Head"
				@hit="selectTemplate($event)">
			</vue-bootstrap-typeahead>
		</b-form-group>-->

		<b-form-group id="select_template" v-if="template ==''" title="Select Template" ok-only>
		<b-form-group>
			<h3>Diagnostic</h3>
			<template v-for="n in templates">
				<b-button @click="selectTemplate(n)" variant="link" v-if="n.type=='Diagnostic'">{{n.name}} </b-button>
			</template>
			<h3>Angiography</h3>
			<template v-for="n in templates">
				<b-button @click="selectTemplate(n)" variant="link" v-if="n.type=='Angiography'">{{n.name}} </b-button>
			</template>
		</b-form-group>
		</b-form-group>

		<b-modal id="insert-component-modal" title="Insert Component" ok-only>

			<b-form-group
				label-for="search_module">
				<p></p><b-button @click="insertComponent('Text Entry')">Text</b-button>
				<p></p><b-button @click="insertComponent('h1')">Large Header</b-button>
				<p></p><b-button @click="insertComponent('h2')">Small Header</b-button>
				<p></p><b-button @click="insertComponent('Selection')">Selection</b-button>
				<p></p><b-button @click="insertComponent('Multi Select')">Multi Selection</b-button>
				<p></p><b-button @click="insertComponent('Multi Checkbox')">Multi Checkbox</b-button>
				<p></p><b-button @click="insertComponent('Multi Radio')">Multi Radio</b-button>

			</b-form-group>	
		
			<template #modal-footer="{ close }">
				<b-button @click="close()" variant="danger">Cancel</b-button>
			</template>

		</b-modal>

		<b-modal id="control_modal" title="Insert Module" ok-only>

			<b-form-group
				label-for="search_module">
				<vue-bootstrap-typeahead id="search_module" :data="templates.modules" :serializer="item => item.name"
				placeholder="Search for module" @hit="selectModule($event)">
				</vue-bootstrap-typeahead>
		</b-form-group>	
		
			<template #modal-footer="{ close }">
			<b-button class="float-right" variant="success" @click="insertModule(); $bvModal.hide('control_modal')">Insert selected module</b-button>

				<b-button @click="close()" variant="danger">Cancel</b-button>
			</template>

		</b-modal>

		<!-- EDIT THE SELECTED ELEMENT -->
		<b-modal v-if="selected_n !=null" id="edit_modal" :title="'Edit ' + selected_n.type" ok-only>
			<div class="edit_style">


		<!-- QUERY INSERT TYPE -->
			<b-form-group v-if="selected_n.type=='query_insert'" class="indent_bug">
				<b-input-group prepend="Module" >
					<b-form-input v-model="selected_n.text"></b-form-input>	
				</b-input-group>
				<p></p>
			</b-form-group>

		<!-- HEADER TYPE -->
			<b-form-group v-if="selected_n.type=='h1' || selected_n.type=='h2'" class="indent_bug">
				<b-input-group prepend="Header label" >
					<b-form-input v-model="selected_n.label"></b-form-input>	
				</b-input-group>
				<p></p>
			</b-form-group>


			<!--  TEXT TYPE -->

			<b-form-group v-if=" selected_n.type=='text_entry'" class="indent_bug">
				<b-input-group prepend="Element label" >
				<b-form-input v-model="selected_n.label" >
				</b-form-input>	
				</b-input-group>
				<p></p>
			<b-form-radio-group
				v-model="selected_n.subtype"
				name="radio-options"
				>
				<b-form-radio value="small">Small</b-form-radio>
				<b-form-radio value="medium">Medium</b-form-radio>
				<b-form-radio value="large">Large</b-form-radio>
			</b-form-radio-group>
			<p></p>

				<label>Content:</label>
				<b-form-textarea v-model="selected_n.text" >
				</b-form-textarea>



		</b-form-group>

		<!-- SELECTION TYPE -->
		<b-form-group v-if="selected_n.type == 'selection'" class="indent_bug">
			<b-input-group prepend="Element label" >
			<b-form-input v-model="selected_n.label" >
			</b-form-input>	
			</b-input-group>
			<p></p>

			<label >Options:</label>
			<template v-for=" n in selected_n.options" >
				<b-row>
					<b-col cols="8">
						<b-form-input	v-model="n.text" >
						</b-form-input>
					</b-col>
					<b-col>
						<b-button-group>
							<b-button variant="danger" @click="selected_n.options.splice(selected_n.options.indexOf(n), 1)">Delete</b-button>
							<b-button variant="success"  @click="selected_n.options.splice(selected_n.options.indexOf(n)+1, 0, {'text': '', 'value': selected_n.options.indexOf(n)+1})">Add</b-button>
						</b-button-group>
					</b-col>
				</b-row>
			</template>
		</b-form-group>

		<!-- MULTISELECTION TYPE -->
		<b-form-group v-if="selected_n.type=='multi_select'" class="indent_bug">

			<b-input-group prepend="Element label" >
			<b-form-input v-model="selected_n.label" >
			</b-form-input>	
			</b-input-group>
			<p></p>

			<b-form >
				<label >Ask further details? </label>
				<b-form-radio-group  v-model="selected_n.askfurtherdetails">
					<b-form-radio value='true'> Yes</b-form-radio>
					<b-form-radio value='false'> No</b-form-radio>
				</b-form-radio-group>
			</b-form>

			<template v-for="nn in selected_n.multi">
				<p></p>
				<b-card>
				<b-input-group prepend="Label" >
					<b-form-input v-model="nn.label" >
					</b-form-input>
				</b-input-group>
				<b-input-group prepend="Text preceeding" >
					<b-form-input v-model="nn.print_text_before" >
					</b-form-input>
				</b-input-group>
				<b-input-group prepend="Text inserted after" >
					<b-form-input v-model="nn.print_text_after" >
					</b-form-input>
				</b-input-group>

				<template v-if="nn.type=='dropdown'" v-for="n_dropdown in nn.options" >
										<p></p>

					<b-row>
						<b-col cols="8">
							<b-form-input	v-model="n_dropdown.text" >
							</b-form-input>
						</b-col>
						<b-col>
							<b-button-group>
								<b-button variant="danger" @click="nn.options.splice(nn.options.indexOf(n_dropdown), 1)">-</b-button>
								<b-button variant="success" @click="nn.options.splice(nn.options.indexOf(n_dropdown)+1, 0, {'text': '', 'value': nn.options.indexOf(n_dropdown)+1})">+</b-button>
							</b-button-group>
						</b-col>
					</b-row>
				</template>

			</b-card>
			<p></p>
			<b-button variant="success" @click="selected_n.multi.splice(selected_n.multi.indexOf(nn)+1, 0, {'text':'', 'type':'dropdown', 'options': [{'text': '', 'value':''}]})">Insert selection</b-button>
			<b-button variant="success" @click="selected_n.multi.splice(selected_n.multi.indexOf(nn)+1, 0, {'text':'', 'type':'free_text', 'text':''})">Insert text box</b-button>

			</template>
			</template>
		</b-form-group>

		<!-- MULTIRADIO TYPE -->
		<b-form-group v-if="selected_n.type=='multi_radio'" class="indent_bug">
			<b-form-group  class="indent_bug">

				<template v-for="nn in selected_n.multi">
				<b-card>

					<b-form v-if="nn.options != '' && nn.type == 'radio'">
							<b-input-group prepend="Label" >
							<b-form-input v-model="nn.label" >
							</b-form-input>
					</b-input-group>
					<b-form v-if="nn.options != '' && nn.type == 'radio'">
							<b-input-group prepend="Text for first option" >
							<b-form-input v-model="nn.normaltext" >
							</b-form-input>
					</b-input-group>

						<template v-for="n_check in nn.options" >

							<b-row>
								<b-col cols="8">
									<b-form-input	v-model="n_check.text" >
									</b-form-input>
								</b-col>
								<b-col>
									<b-button-group>
										<b-button variant="danger" @click="nn.options.splice(nn.options.indexOf(n_check), 1)">-</b-button>
										<b-button variant="success" @click="nn.options.splice(nn.options.indexOf(n_check)+1, 0, {'text': '', 'value': nn.options.indexOf(n_check)+1})">+</b-button>
									</b-button-group>
								</b-col>
							</b-row>
					</template>
					</b-card>
					<p></p><b-button block @click="selected_n.multi.splice(selected_n.multi.indexOf(nn)+1, 0, {'text':'', 'type':'radio', 'options': [{'text': '', 'value':''}]})">Insert new checklist item</b-button>
					<p></p>


					</b-form>

					<b-form-group v-show="nn.selected >= nn.showdetailson">
						<b-form-textarea :value="nn.details" @change="nn.details = $event">
						</b-form-textarea>
					</b-form-group>

				</template>

			</b-form-group>	
		</b-form-group>

		<!-- MULTI CHECKBOX TYPE -->
		<b-form-group v-if="selected_n.type == 'multi_checkbox'" >

				<b-input-group prepend="Element label" >
				<b-form-input v-model="selected_n.label" >
				</b-form-input>	
				</b-input-group>
				<p></p>

			<b-container >
				<template v-for="n_check in selected_n.multi" >
					<b-row>
						<b-col cols="8">
							<b-form-input	v-model="n_check.text" >
							</b-form-input>
						</b-col>
						<b-col>
							<b-button-group>
								<b-button variant="danger" @click="selected_n.multi.splice(selected_n.multi.indexOf(n_check), 1)">Remove</b-button>
								<b-button variant="success" @click="selected_n.multi.splice(selected_n.multi.indexOf(n_check)+1, 0, {'text': '', 'value': selected_n.multi.indexOf(n_check)+1})">Add</b-button>
							</b-button-group>
						</b-col>
					</b-row>
				</template>

			</b-container>
		</b-form-group>

	</div>

<template #modal-footer="{ close }">
	<b-button @click="close()" variant="success">Ok</b-button>
</template>
</b-modal>

<b-modal id="save_as_new_modal" title="Save As New">
	<b-form-group>
		<p>Name <b-form-input v-model="templateForm.name"/></p>
		<p>Branch <b-form-input /></p>
		<p>Modality <b-form-input /></p>
		<p>Body region <b-form-input /></p>

	</b-form-group>
	<template #modal-footer="{ close }">
		<b-button variant="success" @click="saveAsNew();$bvModal.hide('save_as_new_modal')">Submit</b-button>

	</template>
</b-modal>


<b-form-group v-if="template != ''">
	<b-card bg-variant="light">
		<b-button variant="success" @click="copyReport()">Show Report</b-button>
		<b-button variant="danger" @click="reset()">Reset</b-button>

		<b-dropdown text="Template" class="m-md-2">
			<b-dropdown-item @click="blankTemplate()">Create blank template</b-dropdown-item>
			<b-dropdown-item @click="exportXML()">Save changes to this template</b-dropdown-item>
			<b-dropdown-item v-b-modal.save_as_new_modal>Save as new template</b-dropdown-item>
		</b-dropdown>

		<h1>
			{{templateForm.name}}
		</h1>

		<template v-for=" n in templateForm">


			<div class="body">
				<div class="row">
					<div class="control">
						<div class="op_icon">
							<b-dropdown id="dropdown-1" text="Options" class="m-md-2">
												
												<b-dropdown-item @click="selectElement(n); deleteElement()">Delete</b-dropdown-item>
												<b-dropdown-item @click="selectElement(n); InsertText()">Insert Text</b-dropdown-item>
												<b-dropdown-item v-b-modal.insert-component-modal @click="selectElement(n)">Insert Component</b-dropdown-item>
												<b-dropdown-item v-b-modal.control_modal
												@click="selectElement(n)">Insert Module</b-dropdown-item>
												<b-dropdown-item v-b-modal.edit_modal
												@click="setupEdit(n)">Edit</b-dropdown-item>

											</b-dropdown>
										</div>
									</div>


									<div class="element">
										<!-- HEADER TYPE -->
										<h2 v-if="n.type == 'h1'">{{n.label}}</h2>
										<h3 v-if="n.type == 'h2'">{{n.label}}</h3>

										<!-- QUERY INSERT TYPE -->
										<button v-if=" n.type=='query_insert'" @click="queryInsert(n)">Insert {{n.text}}</button>

										<!--  TEXT TYPE -->
										<label v-if=" n.type=='text'">{{n.text}}</label>

										<!-- FREE TEXT TYPE -->
										<b-form-group :label=" n.label" v-if="n.type == 'free_text'" :disabled="n.disabled">
											<b-form-textarea :value="n.text" @change="n.text = $event">
											</b-form-textarea>
										</b-form-group>


										<!-- TEXT ENTRY TYPE SMALL/MEDIUM/LARGE -->
										<b-form-group :disabled="n.disabled" v-if="n.type == 'text_entry'">
											<b-row align-v="center">
												<b-col md="auto" v-if="n.no_label != true">
													<label>{{n.label}}</label>
												</b-col>
												<b-col>
													<b-form-input :value="n.text" @change="n.text = $event"
													v-if="n.subtype  == 'small'">
												</b-form-input>
											</b-col>
										</b-row>
										<b-form-textarea :value="n.text" @change="n.text = $event"
										v-if="n.subtype  == 'medium'">
									</b-form-textarea>
									<b-form-textarea :value="n.text" @change="n.text = $event" rows="8"
									v-if="n.subtype  == 'large'">
								</b-form-textarea>
							</b-form-group>

							<!-- SELECTION TYPE -->
							<b-form-group :disabled="n.disabled" v-if="n.type == 'selection'">
								<b-row align-v="center">
									<b-col md="auto">
										<label> {{n.label}}
										</label>
									</b-col>
									<b-col>
										<b-form-select v-model="n.selected" :options="n.options"
										@input="n.details = Boolean(n.selected >= n.showdetailson)">
									</b-form-select>
								</b-col>
							</b-row>
						</b-form-group>

						<!-- MULTISELECTION TYPE -->
						<b-form-group v-if="n.type=='multi_select'" class="indent_bug">
							<b-row>
								<b-col cols=" 1">
									<label>{{n.label}}</label>
								</b-col>
								<b-col>

									<b-form-group>
										<b-form-radio-group v-if="n.askfurtherdetails =='true'"
										:options="n.present_options" v-model="n.present"
										class="mb-2 mr-sm-2 mb-sm-0">
									</b-form-radio-group>
								</b-form-group>
							</b-col>
						</b-row>

						<b-container class="bv-example-row">
							<b-row cols="1" cols-sm="2">

								<template v-for="nn in n.multi">
									<b-col>

										<b-form-group
										v-if="nn.type == 'dropdown' && (nn.options != '' && n.present == 'yes' || n.askfurtherdetails !='true')"
										:label="nn.label" label-cols="3">
										<b-form-select :options="nn.options" v-model="nn.selected">
										</b-form-select>
									</b-form-group>
									<b-form-group
									v-show="(nn.type == 'dropdown' && (n.present == 'yes' || n.askfurtherdetails !='true')) && nn.selected == (nn.options.length-1)"
									label-cols="3">
									<b-form-input :value="nn.text" @change="nn.text = $event"
									placeholder="Other">
								</b-form-input>
							</b-form-group>

							<b-form-group
							v-if="nn.type == 'free_text' && (nn.options != '' && n.present == 'yes' || n.askfurtherdetails !='true')"
							:label="nn.label" label-cols="3">
							<b-form-input :value="nn.text" @change="nn.text = $event">
							</b-form-input>
						</b-form-group>
					</b-col>
				</template>
			</b-row>
		</b-container>
	</b-form-group>

	<!-- MULTIRADIO TYPE -->
	<b-form-group v-if="n.type == 'multi_radio'" :disabled="n.disabled">
		<template v-for="nn in n.multi">

			<b-form inline v-if="nn.options != '' && nn.type == 'radio'">
				<label class="mb-2 mr-sm-2 mb-sm-0">{{nn.label}}</label>
				<b-form-radio-group :options="nn.options" v-model="nn.selected"
				class="mb-2 mr-sm-2 mb-sm-0">
			</b-form-radio-group>
		</b-form>
		<b-form-group v-show="nn.selected >= nn.showdetailson">
			<b-form-textarea :value="nn.details" @change="nn.details = $event">
			</b-form-textarea>
		</b-form-group>

	</template>
</b-form-group>

<!-- MULTI CHECKBOX TYPE -->
<b-form-group v-if="n.type == 'multi_checkbox'" :disabled="n.disabled">
	<label>{{n.label}}</label>
	<b-container class="bv-example-row">
		<b-row cols="1" cols-sm="2">
			<template v-for="nn in n.multi">
				<b-col>
					<b-form-checkbox v-model="nn.selected">
						{{nn.text}}
					</b-form-checkbox>
				</b-col>
			</template>
		</b-row>
	</b-container>
</b-form-group>

<!-- DETAILS BOX -->
<b-form-group v-show="n.details || n.present == 'yes'" :disabled="n.disabled">
	<b-form-textarea :value="n.details_text" @change="n.details_text = $event"
	placeholder="Enter free text">
	Details
</b-form-textarea>
</b-form-group>


</div>

</div>
</div>

</template>

</b-card>

</b-form-group>
</b-container>


<p></p>
<p></p>


<!---------------- MODALS -------------->

<b-modal id="help_modal" title="NeuroTool: Help" ok-only>
</b-modal>

<b-container class="footer">
	This tool is for educational purposes only. <b-link href="mailto: jeremy.lynch@gmail.com"> Contact us.
	</b-link>
</b-container>

</div>


<script>
	/* GENERIC FUNCTIONS */
	var arr = [];
	function unique_id()
	{
 		var n=null;
	    do n = Math.floor(Math.random()*9999);
	    while (arr.indexOf(n) !== -1)

	    arr.push(n);
	    return n;
	}



	function flatten(data) {
		var result = {};

		function recurse(cur, prop) {
			if (Object(cur) !== cur) {
				result[prop] = cur;
			} else if (Array.isArray(cur)) {
				for (var i = 0, l = cur.length; i < l; i++)
					recurse(cur[i], prop + "[" + i + "]");
				if (l == 0)
					result[prop] = [];
			} else {
				var isEmpty = true;
				for (var p in cur) {
					isEmpty = false;
					recurse(cur[p], prop ? prop + "." + p : p);
				}
				if (isEmpty && prop)
					result[prop] = {};
			}
		}
		recurse(data, "");
		return result;
	}

	function download(filename, text) {
		var element = document.createElement('a');
		element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		element.setAttribute('download', filename);

		element.style.display = 'none';
		document.body.appendChild(element);

		element.click();

		document.body.removeChild(element);
	}

	function parse_options(str) {
		var list = str;
		if (typeof str === 'string' || str instanceof String) {
			list = str.split("|");
		} else list = null;

		if (Array.isArray(list)) {
			if (isNaN(list[0])) list[0] = null;
		}
		return list;
	}

	function format_sentence(str) {
		var sentence = "";
		if ((typeof str) === "string" && str != "") {
			str = str.trim();
			str = str.replace(/ +(?= )/g, '');
			var last_char = str[str.length - 1];
			if (last_char != "." && last_char != "!" && last_char != ":" && last_char != ";" && last_char != "-") str =
			str + ". ";
			else str = str + " ";
			if (str.substr(str.length - 3, 2) == " .") {
				str = str.substr(0, str.length - 3) + ". ";
			}
			sentence = str;
		}
		return sentence;
	}

	function parseFindings(xml, modules) {
		var elements = [];
		for (i = 0; i < xml.length; i++) {
			if (xml[i].nodeName != "#text") {
				var el = {};
				el.type = xml[i].nodeName.trim();
				var flags = xml[i].getAttribute("flags");
				if (flags) el.flags = flags;
				else el.flags = "";

				var disabled = xml[i].getAttribute("disabled");
				if (disabled != null && disabled == "true") el.disabled = true;
				else el.disabled = false;
				el.sentencecontinues = xml[i].getAttribute("sentencecontinues");
				var label = xml[i].getAttribute("label");
				if (label) el.label = label;
				else el.no_label = true;

				el.printContents = function () {
					return "";
				}
				el.details_text = ""

				switch (el.type) {
					default:
					break;
					case "h1":
					case "h2":					
						el.label = xml[i].innerHTML.trim();
						if (el.type == "h1") el.label = el.label.toUpperCase();
						if (el.label[el.label.length - 1] != ":") el.label += ": ";
						else el.label += " ";

						el.printContents = function () {
							var print_text = "";
							if (this.flags.includes("print_space")) {
								print_text += "\n\n";
							}
							if (!this.flags.includes("dont_print")) {
								if (this.type == "h1") print_text += "\n\n" + this.label + "\n";
								if (this.type == "h2") print_text += "\n\n" + this.label;
							}
							return print_text;
						}
						el.exportTemplate = function(xml_doc) {
							// Create structure
							var xml_el = xml_doc.createElement(this.type);
							if (this.flags) xml_el.setAttribute("flags", this.flags);
							xml_el.innerHTML = this.label;
							return xml_el;
						}
						elements.push(el);
					break;

					// Query Insert
					case "query_insert":
					el.module = xml[i].innerHTML.trim()
					el.text = xml[i].innerHTML.trim();
					el.printContents = function () {
						var print_text = "";
						return print_text;
					}
					el.exportTemplate = function(xml_doc) {
							// Create structure
							//var xml_doc = document.implementation.createDocument("", "", null);
							var xml_el = xml_doc.createElement(this.type);
							if (this.flags) xml_el.setAttribute("flags", this.flags);
							xml_el.innerHTML = this.text;
							return xml_el;
					}
					elements.push(el);
					break;

					// TEXT
					case "text":
					el.text = xml[i].innerHTML.trim();
					el.printContents = function () {
						return this.text + this.details_text;
					}
					el.exportTemplate = function(xml_doc) {
							// Create structure
							//var xml_doc = document.implementation.createDocument("", "", null);
							var xml_el = xml_doc.createElement(this.type);
							if (this.flags) xml_el.setAttribute("flags", this.flags);
							xml_el.innerHTML = this.text;
							return xml_el;
					}
					elements.push(el);
					break;

					// TEXT ENTRY
					case "text_entry":
					el.text = xml[i].innerHTML.trim();
					el.subtype = xml[i].getAttribute("subtype");
					if (el.subtype) el.subtype = el.subtype.trim();
					else el.subtype = "medium";

					el.printContents = function () {
						var print_text = "";
						if (this.text != "") {
							if (this.label && !this.flags.includes("dont_print_label")) print_text += this.label;
							if (this.sentencecontinues) print_text += " " + this.text.toLowerCase();
							else if (this.label) print_text += " " + this.text;
							else print_text += this.text
								print_text += this.details_text;
							if ((this.text + this.details_text) != "") print_text = format_sentence(
								print_text);
						}
					return print_text;
					}
					el.exportTemplate = function(xml_doc) {
							// Create structure
							//var xml_doc = document.implementation.createDocument("", "", null);
							var xml_el = xml_doc.createElement(this.type);
							if (this.label) xml_el.setAttribute("label", this.label);
							xml_el.setAttribute("subtype", this.subtype);
							return xml_el;
					}
					elements.push(el);
					break;

					case "selection":
					op_values = xml[i].innerHTML.trim().split("|");
					el.selected = "";
					el.label = label;
					el.options = [];
					for (var x = 0; x < op_values.length; x++) {
						el.options.push({
							text: op_values[x].trim(),
							value: x
						})
					}

					el.options.push({
						text: "Other",
						value: el.options.length
					})
					el.printContents = function () {
						var print_text = "";

						if (Number.isInteger(this.selected) && this.options[this
							.selected].text != "Other") print_text = format_sentence(this.options[this
							.selected].text);
							if (this.details) print_text += format_sentence(this.details_text);
							return format_sentence(print_text);
						}
						var showdetailson = xml[i].getAttribute("showdetailson");
						if (showdetailson) el.showdetailson = Number(showdetailson);
						else el.showdetailson = 1;

					el.exportTemplate = function(xml_doc) {
							// Create structure
							//var xml_doc = document.implementation.createDocument("", "", null);
							var xml_el = xml_doc.createElement(this.type);
							if (this.label) xml_el.setAttribute("label", this.label);
							var options="";
							for (var n=0; n <this.options.length; n++) {
								if (this.options[n].text != "Other" && this.options[n].text.trim() != "") {
									options += this.options[n].text;
									if (n != (this.options.length-1) && this.options[n+1].text.trim() != "")  options += " | ";
								}
							}
							xml_el.innerHTML = options;
							return xml_el;
					}
					elements.push(el);
					break;

					case "multi_select":
					var nodes = xml[i].childNodes;
					el.multi = [];
					el.present_options = ["yes", "no"];
					el.present = "";
					el.askfurtherdetails = xml[i].getAttribute("askfurtherdetails");
					el.normaltext = xml[i].getAttribute("normaltext");

					for (var n = 0; n < nodes.length; n++) {
						if (nodes[n].nodeName != "#text") {

							var type = nodes[n].nodeName.trim();
							var flags = nodes[n].getAttribute("flags");
							if (flags == null) flags = " ";
							var label = nodes[n].getAttribute("label");
							if (label) label.trim();
							var inner_text = nodes[n].innerHTML;
							if (inner_text) inner_text = inner_text.trim();
							var print_text_before = nodes[n].getAttribute("print_text_before");
							if (print_text_before) print_text_before.trim();
							else print_text_before = ""
								var print_text_after = nodes[n].getAttribute("print_text_after");
							if (print_text_after) print_text_after.trim();
							else print_text_after = ""
								var multi = {};
							text = "";
							selection = "";

							if (type == "free_text") {
								
								el.multi.push({
									text: inner_text,
									label: label,
									type: type,
									flags: flags,
									print_text_before: print_text_before,
									print_text_after: print_text_after,
									showdetailson: showdetailson
								});
							}

							if (type == "dropdown") {

								var options = [];
								var selected = null;
								if (inner_text.includes("|")) {
									op_values = inner_text.split("|");
											options.push({ // Add a non-selection first
												text: "",
												value: 0
											});
											for (var x = 0; x < op_values.length; x++) {
												options.push({
													text: op_values[x].trim(),
													value: x + 1 // Therefore value needs to start at 1
												})
											}

										} else {
											options.push({ // Add a non-selection first
												text: "",
												value: 0
											});
											options.push({
												text: inner_text.trim(),
												value: 1
											})
										}

										options.push({
											text: "Other",
											value: options.length

										});


										var print_text_before = nodes[n].getAttribute("print_text_before");
										if (print_text_before) print_text_before.trim();
										else print_text_before = ""
											var print_text_after = nodes[n].getAttribute("print_text_after");
										if (print_text_after) print_text_after.trim();
										else print_text_after = ""
											var multi = {};
										text = "";
										label = label.trim();
										selection = "";

										el.multi.push({
											label: label,
											other: true,
											text: "",
											options: options,
											type: type,
											print_text_before: print_text_before,
											print_text_after: print_text_after,
											selected: selected,
											showdetailson: showdetailson
										});
									}
								}
							}
							el.printContents = function () {
								var print_text = "";
								if (this.present == "yes" || this.askfurtherdetails != "true") {
									for (var n = 0; n < this.multi.length; n++) {
										var print_text_in = "";

										if (this.multi[n].type == "free_text") {
											if (this.multi[n].text != "") {
												if (this.multi[n].print_text_before != "") {
													print_text_in += this.multi[n].print_text_before + " ";
												} else if (!this.multi[n].flags.includes("dont_print_label") && this.multi[n].label !=
													null) {
													print_text_in += this.multi[n].label + ": ";
												}
												print_text_in += this.multi[n].text;
												if (this.multi[n].print_text_after != "") {
													print_text_in += " " + this.multi[n].print_text_after;
												}
												}
										}

										if (this.multi[n].type == "dropdown") {

											if (Number.isInteger(this.multi[n].selected) && this.multi[n].selected >
												0) {
												if (this.multi[n].print_text_before != "") {
													print_text_in += this.multi[n].print_text_before + " ";
												}
												var value = this.multi[n].options[this.multi[n].selected].text;
												if (value == "Other") value = this.multi[n].text;
												print_text_in += value +
												" ";
												if (this.multi[n].print_text_after != "") print_text_in += this.multi[n].print_text_after +
													" ";
												if (print_text_in.substr(print_text_in.length - 3, 2) == " .") {
													print_text_in = print_text_in.substr(0, print_text_in.length - 3) + ". ";
												}
											}
										}

									print_text += print_text_in;
										

									}
								}
								if (this.present == "yes") {
									print_text = format_sentence(print_text) + format_sentence(this.details_text);
								} else {
									print_text = format_sentence(print_text);
								}
								if (this.present == "no") {
									print_text += format_sentence(this.normaltext);
								}
								return print_text;
							}
							el.exportTemplate = function(xml_doc) {
							// Create structure
							//var xml_doc = document.implementation.createDocument("", "", null);
							var xml_el = xml_doc.createElement(this.type);
							if (this.label) xml_el.setAttribute("label", this.label);
							if (this.askfurtherdetails) xml_el.setAttribute("askfurtherdetails", this.askfurtherdetails);
							if (this.normaltext) xml_el.setAttribute("normaltext", this.normaltext)

							var multi_txt="";
							for (var n=0; n <this.multi.length; n++) {
								var xml_multi = xml_doc.createElement(this.multi[n].type);
								xml_multi.setAttribute("label", this.multi[n].label);
								if (this.multi[n].print_text_before) xml_multi.setAttribute("print_text_before", this.multi[n].print_text_before);
								if (this.multi[n].print_text_after) xml_multi.setAttribute("print_text_after", this.multi[n].print_text_after);

								if (this.multi[n].type == "dropdown") {
									var multi_options = "";
									for (var nn=0; nn <this.multi[n].options.length; nn++) {
										if (this.multi[n].options[nn].text != "Other" && this.multi[n].options[nn].text.trim() != "") 
										{
											multi_options += this.multi[n].options[nn].text;
											if (nn != (this.multi[n].options.length-1) && this.multi[n].options[nn+1].text.trim() != "")  multi_options += " | ";
										}
									}
									xml_multi.innerHTML = multi_options;
								}
								xml_el.appendChild(xml_multi);
							}

							return xml_el;
							}
							elements.push(el);
							break;

							case "multi_radio":
							var nodes = xml[i].childNodes;
							el.multi = [];
							for (var n = 0; n < nodes.length; n++) {
								if (nodes[n].nodeName == "radio") {
									var r_flags = nodes[n].getAttribute("flags");
									if (!r_flags) r_flags = "";

									var inner_text = nodes[n].innerHTML.trim();
									var options = [];
									var type = "";
									if (inner_text.includes("|")) {
										op_values = inner_text.split("|");

										for (var x = 0; x < op_values.length; x++) {
											options.push({
												text: op_values[x].trim(),
												value: x
											})
										}
										type = "radio";
									} else {
										options[0] = inner_text;
										type = "free_text";
									}

									var label = nodes[n].getAttribute("label");
									var normaltext = nodes[n].getAttribute("normaltext");

									var selected = "";

									var showdetailson = nodes[n].getAttribute("showdetailson");
									if (showdetailson) showdetailson = Number(showdetailson)
										else showdetailson = 1;

									el.multi.push({
										label: label,
										options: options,
										type: type,
										selected: selected,
										showdetailson: showdetailson,
										details: "",
										normaltext: normaltext,
										flags: r_flags
									});
								}
							}
							el.printContents = function () {
								var print_multi = _.cloneDeep(this.multi);
								print_multi.sort((a, b) => {
									return b.selected - a.selected;
								});

								var print_text = "";
								for (var n = 0; n < print_multi.length; n++) {

									if (Number.isInteger(print_multi[n].selected)) {
										// Normal and don't print if normal flag
										if (print_multi[n].selected == 0 && print_multi[n].flags.includes(
											"dont_print_normal")) {

										}
										// Normal and supplied negative text
										else if (print_multi[n].selected == 0 && print_multi[n]
											.normaltext) {
											print_text += print_multi[n].normaltext;
									}
										// Normal and no supplied text 
										else if (print_multi[n].selected == 0 && !print_multi[n]
											.normaltext) {
											print_text += print_multi[n].label;
										print_text += print_multi[n]
										.options[print_multi[n].selected].text;
									}
										// Abnormal and details given
										else if (print_multi[n].selected != 0 && print_multi[n].details != "") {
											print_text += print_multi[n].details;
										}
										// Abnormal and no details given
										else if (print_multi[n].selected != 0 && print_multi[n].details == "") {
											print_text += print_multi[n].label;
											print_text += print_multi[n]
											.options[print_multi[n].selected].text.toLowerCase();
										}
										print_text = format_sentence(print_text);
									}
								}
								return print_text;
							}
							el.exportTemplate = function(xml_doc) {
								// Create structure
								//var xml_doc = document.implementation.createDocument("", "", null);
								var xml_el = xml_doc.createElement(this.type);
								if (this.label) xml_el.setAttribute("label", this.label);
								if (this.askfurtherdetails) xml_el.setAttribute("askfurtherdetails", this.askfurtherdetails);

								var multi_txt="";
								for (var n=0; n <this.multi.length; n++) {
									var xml_multi = xml_doc.createElement(this.multi[n].type);
									xml_multi.setAttribute("label", this.multi[n].label);
									if (this.multi[n].print_text_before) xml_multi.setAttribute("normaltext", this.multi[n].normaltext);
									if (this.multi[n].flags) xml_multi.setAttribute("flags", this.multi[n].flags);
									if (this.multi[n].type == "radio") {
										var multi_options = "";
										for (var nn=0; nn <this.multi[n].options.length; nn++) {
										multi_options += this.multi[n].options[nn].text;
										if (nn != (this.multi[n].options.length-1))  multi_options += " | ";
										}
										xml_multi.innerHTML = multi_options;
									}
									xml_el.appendChild(xml_multi);
								}

								return xml_el;
							}
							elements.push(el);
							break;

							case "multi_checkbox":
							var nodes = xml[i].childNodes;
							el.multi = [];
							for (var n = 0; n < nodes.length; n++) {
								if (nodes[n].nodeName == "checkbox") {
									var text = nodes[n].innerHTML.trim();
									var label = nodes[n].getAttribute("label") + ":";
									var selected = "";

									el.multi.push({
										label: label,
										text: text,
										selected: selected,
										type: "checkbox"
									});
								}
							}
							el.printContents = function () {
								var print_text = "";
								var total_selected = 0;
								var count_selected = 0;
								for (var n = 0; n < this.multi.length; n++) {
									if (this.multi[n].selected) total_selected++
								}

								if (total_selected) {
									print_text += this.label + " ";
									for (var n = 0; n < this.multi.length; n++) {
										if (this.multi[n].selected) {
											print_text += this.multi[n].text.toLowerCase();
											if ((count_selected < (total_selected - 1)) && total_selected != 2)
												print_text += ", ";
											if (count_selected == (total_selected - 2)) print_text += " and ";
											count_selected++;
										}
									}

								}
								return format_sentence(print_text);
							}
							el.exportTemplate = function(xml_doc) {
								// Create structure
								//var xml_doc = document.implementation.createDocument("", "", null);
								var xml_el = xml_doc.createElement(this.type);
								if (this.label) xml_el.setAttribute("label", this.label);
								if (this.askfurtherdetails) xml_el.setAttribute("askfurtherdetails", this.askfurtherdetails);

								for (var n=0; n <this.multi.length; n++) {
									var xml_multi = xml_doc.createElement(this.multi[n].type);
									if (this.multi[n].type == "checkbox") {
										xml_multi.innerHTML = this.multi[n].text;
									}
									xml_el.appendChild(xml_multi);
								}

								//xml_doc.appendChild(xml_el)

								// Convert to text
								//var serializer = new XMLSerializer();
								//var xmlString = serializer.serializeToString(xml_doc) + "\n";
								return xml_el;
							}
							elements.push(el);
							break;

							case "insert":
							el.module = xml[i].innerHTML.trim();
							for (var n = 0; n < modules.length; n++) {
								if (modules[n].name == el.module) {
									elements = elements.concat(modules[n].elements);
								}
							}
							break;
					}
				}
			}
			return elements;
		}

		function parseModules(xml) {
			return parseFindings(xml, null)
		}


		function loadXML(path_template, path_user) {
			var xhttp = new XMLHttpRequest();
			var temp = [];
			var user=[];
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					myFunction(this);
				}
			};
			xhttp.open("GET", path_template, true);
			xhttp.send();

			function myFunction(xml) { // Load array of report templates
				var xmlDoc = xml.responseXML;
				if (xmlDoc == null) return;

				var modules_xml = xmlDoc.getElementsByTagName("module");
				var modules = [];
				for (var i = 0; i < modules_xml.length; i++) {
					var m_name = xmlDoc.getElementsByTagName("module")[i].getElementsByTagName(
						"name")[0].innerHTML.replace(/^\s+|\s+$/g, '');
					var m_content = xmlDoc.getElementsByTagName("module")[i].getElementsByTagName(
						"content")[0].childNodes;
					var elements = parseModules(m_content);
					modules.push({
						name: m_name,
						elements: elements
					});
				}

				var templates = xmlDoc.getElementsByTagName("template");

				for (var i = 0; i < templates.length; i++) {
					var t_name = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"name")[0].innerHTML.replace(/\t/g, '');
					var t_type = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"type")[0].innerHTML.replace(/\t/g, '').trim();
					var t_title = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"title")[0];
					if (t_title == null || t_title == "") {
						t_title = t_name;
					} else {
						t_title = t_title.innerHTML.replace(/\t/g, '');
					}
					var t_findings = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
						"content")[0].childNodes;
					var elements = parseFindings(t_findings, modules);

					temp.push({
						name: t_name,
						title: t_title,
						type: t_type,
						elements: elements
					});
					}
					temp.modules = modules;


			}
			return temp
		}

		function merge_templates(master_templates, user_templates) {
			for (var n=0; n < user_templates.length; n++) {
				var exists_in_master = null;
				for (var nn=0; nn < master_templates.length; nn++) {
				if (user_templates[n].name == master_templates[nn].name) {
					master_templates[nn] = user_templates[n];
					exists_in_master = true;
				}
			}
				if (!exists_in_master) {
					master_templates.push(user_templates[n]);
				}
			}
			return master_templates
		}

		function template_to_xml(template_gui, xml_doc) {
			var template = xml_doc.createElement("template");
			var name = xml_doc.createElement("name");
			name.innerHTML = template_gui.name;
			template.appendChild(name);
			var title = xml_doc.createElement("title");
			title.innerHTML = template_gui.title;
			template.appendChild(title);
			var type = xml_doc.createElement("type");
			type.innerHTML = template_gui.type;
			template.appendChild(type);
			var content = xml_doc.createElement("content");
			template.appendChild(content);
			for (var n = 0; n < template_gui.elements.length; n++) {
				content.appendChild(template_gui.elements[n].exportTemplate(xml_doc));
			}
			return template; 
		}

		/* GLOBAL VARIABLES */

		window.app = new Vue({
			components: {
				VueBootstrapTypeahead
			},
			el: '#app',
			data: {
				id_count: 0,
				templates: loadXML("static/xml/templates_list.xml"),
				user_templates: [], //loadXML("static/xml/user.xml"),
				reportText: "",
				module: "",
				template: "", // Pointer to the template in the templates array
				index: "",
				templateForm: [],	// The current form being worked on
				selected_n:null, // Currently selected element object
				search:'',
				user_name: '',
				user_name_submit: '',
				user_email:'',
				user_password:'',
				logged_in: false,
				new_template_name: '',
				editModal: {
					value: "null"
				},
				copyModal: {
					id: 'copy-modal',
					title: "Copy",
					text:''
				},
				xmlModal: {
					id: 'xml-modal',
					title: "XML",
					text:''
				}
			},
			created () {
			},

			methods: {
				// General functions
				generateID: function () {
					this.id_count++;
					return this.id_count;
				},
				update: function (event) {

				},

				findList: function (text, symbol_start, symbol_end) {

					var n = 0 - symbol_start.length;
					do {
						n = text.indexOf(symbol_start, n + symbol_start.length);
						if (n != -1) {
							end = text.indexOf(symbol_end, n);
						}

					} while (n != -1);
					return text;
				},

				reset: function () {

					this.id_count = 0;
					this.reportText = "";
					this.module = "";
					this.template = "";
					this.index = "";
					this.templateForm = [];
					this.selected_n = null;
				},

				selectTemplate: function (event) {
					this.reset();
					this.template = event;
					this.writeTemplate();
				},

				selectModule: function (event) {
					this.module = event;
				},

				writeTemplate: function () { // Writes the form from the selected template
					this.templateForm = [];
					var elements = this.template.elements;

					this.templateForm.name = this.template.name;
					this.templateForm.title=  this.template.title;
					this.templateForm.type= this.template.type;

					for (var n = 0; n < elements.length; n++) {
						var el = _.cloneDeep(this.template.elements[n]);
						el.array_id = unique_id();
						this.templateForm.push(el);
					}
				},

				blankTemplate: function() {
					var index = this.templates.find(i => {
						console.log(i.name)
						return (i.name.trim() == "Blank")
					});
					this.selectTemplate(index);

				},


				n_from_element(element) { // Returns n in templateform of element
					var index = this.templateForm.findIndex(i => {
						return (i.array_id == element.array_id)
					});
					return index;
				},

				deleteElement() {
					var index = this.n_from_element(this.selected_n)
					this.templateForm.splice(index, 1);
				},

				insertModule() {
					var module_data = _.cloneDeep(this.module)

					// Create title if not present
					if (module_data.elements[0].type != "h2") {
						var el = {};
						el.type = "h2";
						el.flags = "dont_print";
						el.printContents = function () {
							var print_text = "";
							if (this.flags.includes("print_space")) {
								print_text += "\n\n";
							}
							if (!this.flags.includes("dont_print")) {
								if (this.type == "h1") print_text += "\n\n" + this.label + "\n";
								if (this.type == "h2") print_text += "\n\n" + this.label;
							}
							return print_text;
						}
						el.exportTemplate = function(xml_doc) {
							// Create structure
							var xml_el = xml_doc.createElement(this.type);
							if (this.flags) xml_el.setAttribute("flags", this.flags);
							xml_el.innerHTML = this.label;
							return xml_el;
						}
						el.label = module_data.name.trim();
						if (el.label[el.label.length - 1] != ":") el.label += ": ";
						else el.label += " ";
						this.templateForm.splice(this.n_from_element(this.selected_n) + 1, 0, el);
					}

					// Insert module elements
					for (var n = 0; n < module_data.elements.length; n++) {
						module_data.elements[n].array_id = unique_id();
						this.templateForm.splice(this.n_from_element(this.selected_n) + n + 2, 0, module_data.elements[n]);
					}
				},

				insertComponent(component_name) {
					this.$root.$emit('bv::hide::modal', 'insert-component-modal');

					var component = this.templates.modules.findIndex(i => {
						return (i.name == component_name)
					});

					var module_data = _.cloneDeep(this.templates.modules[component].elements[0]);
					module_data.array_id = unique_id();
					this.templateForm.splice(this.n_from_element(this.selected_n) + 1, 0, module_data);

					this.selectElement(module_data);
					this.setupEdit(module_data);

					this.$root.$emit('bv::show::modal', 'edit_modal');

				},

				InsertText() {
					// Find text
					var index = this.templates.modules.find(function(n) {
						return (n.name == "Text Entry")
					});
					var module_data = _.cloneDeep(index);


					// Insert module elements
					for (var n = 0; n < module_data.elements.length; n++) {
						this.templateForm.splice(this.n_from_element(this.selected_n) + n + 1, 0, module_data.elements[n]);
					}
				},

				selectElement(element) {
					this.selected_n = element
				},

				setupEdit(element) {
					this.selectElement(element);
					this.editModal.value = JSON.stringify(this.templateForm[this.n_from_element(this.selected_n)]);

				},

				queryInsert: function (element) {
					this.selectElement(element);
					var selected = this.n_from_element(this.selected_n)

					selected = selected - 1;

					this.module = this.templates.modules.find(function (i) {
						return i.name == element.module;
					});
					this.insertModule();
				},

				copyReport: function () {

					var copyText = "";
					for (var n = 0; n < this.templateForm.length; n++) {
						copyText += this.templateForm[n].printContents();
					}

					copyText = copyText.trim();

					// Put in clipboard
					const listener = function (ev) {
						ev.preventDefault();
						ev.clipboardData.setData('text/plain', copyText);
					};
					document.addEventListener('copy', listener);
					document.execCommand('copy');
					document.removeEventListener('copy', listener);

					// Display Modal
					this.copyModal.text = copyText;
					this.$root.$emit('bv::show::modal', this.copyModal.id);

				},

				// Save template form to server
				exportXML: function () {
					if (this.logged_in == false) {
						alert("You need to login to save");
						return;
					}	

					// First I turn the gui elements to xml and then back again to blank the entries. 

					var xml_doc = document.implementation.createDocument("", "", null);

					var template_gui = {}
					template_gui.elements = this.templateForm;

					// Build new template xml from GUI
					template = template_to_xml(template_gui, xml_doc);
					var new_element = {
							name: this.templateForm.name,
							title: this.templateForm.title,
							type: this.templateForm.type,
							elements: parseFindings(template.querySelector("content").childNodes, this.templates.modules)
					}

					// Search in the user_templates and replace if exists. If not then append. 
					var exists_in_user_templates=null;
					for (var n=0; n < this.user_templates.length; n++) {
						if (this.user_templates[n].name == this.template.name) {
							this.user_templates[n] = new_element;
							exists_in_user_templates = true; 
						}
					}
					if (!exists_in_user_templates) {
						this.user_templates.push(new_element);
					}

					// Search in normal templates and replace if exists. If not then append. 
					merge_templates(this.templates, this.user_templates)						

					// Write the user_templates to disc
					var save_doc = document.implementation.createDocument("", "", null);
					var all = save_doc.createElement("all");
					save_doc.appendChild(all);

					for (var n=0; n < this.user_templates.length; n++) {
						var el = save_doc.createElement("el");
						el = template_to_xml(this.user_templates[n], save_doc);
						all.appendChild(el);
					}

					// Display Modal
					var xml = (new XMLSerializer()).serializeToString(save_doc);
					//this.xmlModal.text = xml;
					//this.$root.$emit('bv::show::modal', this.xmlModal.id);

					// Save file on server
					var entry = {
		                xml: xml 
		            }
	
		            fetch(`${window.origin}/index/export-report`, {
		                method: "POST",
		                credentials: "include",
		                body: JSON.stringify(entry),
		                cache: "no-cache",
		                headers: new Headers({
		                    "content-type": "application/json"
		                })
		            })
		                .then(function (response) {
		                    if (response.status !== 200) {
		                        console.log(`Looks like there was a problem. Status code: ${response.status}`);
		                        return;
		                    }
		                })
		                .catch(function (error) {
		                    console.log("Fetch error: " + error);
		                });


        		},


				saveAsNew: function() {
					//console.log(this.template);
					//console.log(this.templateForm);

					if (this.logged_in == false) {
					alert("You need to login to save");
					return;
					}
					// Search if name already 
					if(-1 != this.templates.findIndex(n => {
						return (n.name.trim() == this.templateForm.name.trim())
					})) {
						alert("Name already exists!" + this.templateForm.name);
						return;
					}

					//this.templateForm.name = this.new_template_name;


					// If name does not exist in templates create new entry in templates and copy form in
					/*this.templates.push({
						name: this.templateForm.name,
						title: 'test',
						type: 'Diagnostic',
						elements: _.cloneDeep(this.templateForm)
					});

					// Save also in user_templates
					this.user_templates.push({
						name: this.templateForm.name,
						title: 'test',
						type: 'Diagnostic',
						elements: _.cloneDeep(this.templateForm)
					});*/

					// Now save this to the online database
					this.exportXML();
				},

        		login: function() {
					var entry = {
		                user_email: this.user_email,
		                user_password: this.user_password 
		            }
	
		            fetch(`${window.origin}/login`, {
		                method: "POST",
		                credentials: "include",
		                body: JSON.stringify(entry),
		                cache: "no-cache",
		                headers: new Headers({
		                    "content-type": "application/json"
		                })
		            })
		                .then(response => {
		                	if (response.ok) {

								} 
		                    if (response.status !== 200) {
		                        alert("Login failure " + response.status)

		                        return;
		                    }
		                    return response.json()
		                })
		                .then(xml => {
		                	if (!xml) return;

		                	this.user_name = xml.username;
		                	this.logged_in = true;

							if (xml.templates != null) {
						    	parser = new DOMParser();
								xmlDoc = parser.parseFromString(xml.templates, "text/xml");

							var user=[]
							var templates = xmlDoc.getElementsByTagName("template");
				
							for (var i = 0; i < templates.length; i++) {
								var t_name = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
										"name")[0].innerHTML.replace(/\t/g, '');
								var t_type = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
										"type")[0].innerHTML.replace(/\t/g, '').trim();
								var t_title = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
										"title")[0];
								if (t_title == null || t_title == "") {
										t_title = t_name;
								} else {
										t_title = t_title.innerHTML.replace(/\t/g, '');
								}
								var t_findings = xmlDoc.getElementsByTagName("template")[i].getElementsByTagName(
										"content")[0].childNodes;
								var elements = parseFindings(t_findings, []);
				
								user.push({
										name: t_name,
										title: t_title,
										type: t_type,
										elements: elements
								});
								}
								merge_templates(this.templates, user)						
								this.user_templates = user;
								this.reset()

								}

		                })
		                .catch(function (error) {
		                    console.log("Fetch error: " + error);
		                });


        		},


        		register: function() {
        			var entry = {
		                user_email: this.user_email,
		                user_password: this.user_password,
		                user_name: this.user_name_submit 
		            }
	
		            fetch(`${window.origin}/register`, {
		                method: "POST",
		                credentials: "include",
		                body: JSON.stringify(entry),
		                cache: "no-cache",
		                headers: new Headers({
		                    "content-type": "application/json"
		                })
		            })
		                .then(response => {
		                	if (response.ok) {
		                		alert("Registration success")
								this.$root.$emit('bv::show::modal', 'login-modal');

								} 
		                    if (response.status !== 200) {
		                        alert("Registration failure " + response.status)

		                        return;
		                    }
		                    return response
		                })
		                .catch(function (error) {
		                    console.log("Fetch error: " + error);
		                });

        		},
        		logout: function() {
        			fetch(`${window.origin}/logout`, {
		                method: "POST",
		                credentials: "include",
		                cache: "no-cache",
		                headers: new Headers({
		                    "content-type": "application/json"
		                })
		            })
		                .then(response => {
		                	if (response.ok) {
		                		alert("Logged out");
		                		this.logged_in = false;
		                		this.user_name = '';
		                		this.user_password = '';
		                		this.user_email = '';

								} 
		                    if (response.status !== 200) {
		                        alert("Registration failure " + response.status)

		                        return;
		                    }
		                    return response
		                })
		                .catch(function (error) {
		                    console.log("Fetch error: " + error);
		                });
        		}
			}
		});
	</script>


</body>

</html>
