<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>radiologytemplates.org</title>
    <link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/bootstrap.min.css')%%" />
    <link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/intro.css')%%" />
    <!-- Required scripts -->
    <script>
        fetch(`${window.origin}/check-login`, {
                    method: "GET",
                    credentials: "include",
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                .then(response => {
                    if (response.ok) {

                    }
                    if (response.status !== 200) {
                        alert("Login failure " + response.status)
                        
                        return;
                    }
                    return response.json()
                })
                .then(xml => {
                    //this.user_name = xml.username;
                    //this.logged_in = true;
                    window.location.href = "/app-page";

                })
                .catch(function(error) {
                    console.log("Fetch error: " + error);
                });


    </script>
    <script src="%% url_for('static', filename='js/vue.js')%%"></script>
    <script src="%% url_for('static', filename='js/bootstrap-vue.js')%%"></script>
    <script src="%% url_for('static', filename='js/my_lib.js')%%"></script>
    <script src="%% url_for('static', filename='js/validator.js')%%"></script>
</head>

<body>
    <div id="app">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">radiologytemplates.org</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                    </b-nav-form>
                    <b-nav-item-dropdown text="Lang" right>
                        <b-dropdown-item href="#">EN</b-dropdown-item>
                        <b-dropdown-item href="#">ES</b-dropdown-item>
                        <b-dropdown-item href="#">RU</b-dropdown-item>
                        <b-dropdown-item href="#">FA</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <b-row>
            <b-col cols="7" class="my-auto">
                <div class="intro_text">
                    <h1>Your radiology templates. Your way.</h1>
                    <p>Reports generated are entirely confidential. No patient information leaves your computer.
                        Reports are never shared or publicly accessible.
                        No installation required. </p>
                    <div>
                        <b-card>
                            <b-tabs content-class="mt-3">
                                <b-tab title="Login" active>
                                    <b-form id="login_form" @submit="onSubmit_login">
                                        <fieldset>
                                            <div class="field">
                                                <p>Email
                                                    <b-form-input v-model="user_email" required="required" id="email" name="email" type="email" />
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p>Password
                                                    <b-form-input type="password" v-model="user_password" />
                                                </p>
                                            </div>
                                        </fieldset>
                                        <b-button variant="success" type="submit" class="btn btn-primary">
                                            Submit
                                        </b-button>
                                    </b-form>
                                </b-tab>
                                <b-tab title="Sign up">
                                    <p>Register for free to start now! </p>
                                    <b-form id="register_form" @submit="onSubmit_register">
                                        <fieldset>
                                            <p>Email
                                                <b-form-input type="email" v-model="user_email" />
                                            </p>
                                            <p>Username
                                                <b-form-input type="text" v-model="user_name_submit" />
                                            </p>
                                            <p>Password
                                                <b-form-input type="password" v-model="user_password" />
                                            </p>
                                            <p>Repeat password
                                                <b-form-input type="password" v-model="user_password_2" />
                                            </p>
                                            <b-button variant="success" type="submit">Submit</b-button>
                                        </fieldset>
                                    </b-form>
                                </b-tab>
                            </b-tabs>
                        </b-card>
                    </div>
                </div>
            </b-col>
            <b-col class="my-auto">
                <b-img fluid-grow class="banner_img" src="%% url_for('static', filename='img/banner3.jpg')%%" img-alt="Card Image" text-variant="white" title="TemplateReporting" />
            </b-col>
        </b-row>
        <!--<b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block v-b-toggle.accordion-1>Accordion 1</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                    <b-card-text>Test</b-card-text>
                </b-card-body>
            </b-collapse>
        </b-card>-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">Sign Up for free
                            and make the most out of your workflow.
                            Our browser based, vendor-neutral system does not require any installation. You can generate the report directly at your workstation without entering any sensitive patient data. Reports are never shared or publicly accessible.</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="">Medical certification</a></li>
                            <li><a href="">Radiology</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Equal opportunities</a></li>
                            <li><a href="">Training</a></li>
                            <li><a href="">Work for us</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="">About Us</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Contribute</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                            <a href="#">Kinech</a>.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </footer>
    <script>
    /* GLOBAL VARIABLES */

    window.app = new Vue({
        components: {
            //VueBootstrapTypeahead
        },
        el: '#app',
        data: {

            user_name: '',
            user_name_submit: '',
            user_email: '',
            user_password: '',
            user_password_2: '',
            logged_in: false,
            validator: new FormValidator({ "events": ['blur', 'paste', 'change'] })

        },

        created() {

            var form = document.getElementById("login_form");

            function handleForm(event) {
                event.preventDefault();
                this.login()
            }
            form.addEventListener('submit', handleForm);



        },



        methods: {
            onSubmit_login(event) {
                event.preventDefault();
                this.login();
            },
            onSubmit_register(event) {
                event.preventDefault();
                this.register();
            },


            login: function() {

                var validatorResult = this.validator.checkAll(document.getElementById("register_form"));

                if (!!validatorResult.valid) {

                    var entry = {
                        user_email: this.user_email,
                        user_password: this.user_password
                    }

                    fetch(`${window.origin}/login`, {
                            method: "POST",
                            credentials: "include",
                            body: JSON.stringify(entry),
                            cache: "no-cache",
                            headers: new Headers({
                                "content-type": "application/json"
                            })
                        })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = "/app-page";

                            }
                            if (response.status !== 200) {
                                alert("Login failure " + response.status)
                                return;
                            }
                            return response.json()
                        })
                        .catch(function(error) {
                            console.log("Fetch error: " + error);
                        });
                }
            },


            register: function() {
                if (this.user_password != this.user_password_2) {
                    alert("Passwords must match!");
                    return;
                }
                var validatorResult = this.validator.checkAll(document.getElementById("login_form"));
                if (!!validatorResult.valid) {


                    var entry = {
                        user_email: this.user_email.toLowerCase(),
                        user_password: this.user_password,
                        user_name: toTitleCase(this.user_name_submit)
                    }

                    fetch(`${window.origin}/register`, {
                            method: "POST",
                            credentials: "include",
                            body: JSON.stringify(entry),
                            cache: "no-cache",
                            headers: new Headers({
                                "content-type": "application/json"
                            })
                        })
                        .then(response => {
                            if (response.ok) {
                                alert("Registration success")
                                window.location.reload(true)

                            }
                            if (response.status !== 200) {
                                alert("Registration failure " + response.status)

                                return;
                            }
                            return response
                        })
                        .catch(function(error) {
                            console.log("Fetch error: " + error);
                        });
                }

            }
        }
    });
    </script>
</body>

</html>