<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>radiologytemplates.org</title>
    <link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/bootstrap.min.css')%%" />
    <link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/bootstrap-vue.css')%%" />
    <link type="text/css" rel="stylesheet" href="%% url_for('static', filename='css/mytemplate.css')%%" />
    <!-- Required scripts -->
    <script src="%% url_for('static', filename='js/vue.js')%%"></script>
    <script src="%% url_for('static', filename='js/bootstrap-vue.js')%%"></script>
    <script src="%% url_for('static', filename='js/lodash.js')%%"></script>
    <script src="%% url_for('static', filename='js/my_lib.js')%%"></script>
</head>

<body>
    <div id="app">
        <b-navbar type="dark" variant="success" class="shadow p-3 mb-5">
            <b-navbar-brand href="#"><img src="%% url_for('static', filename='img/icon.svg')%%" height="15px" class="d-inline-block " alt="Kitten"></img>
                radiologytemplates.org</b-navbar-brand>
            <b-navbar-nav>
                <b-nav-item-dropdown v-if="logged_in" :text="user_name" right>
                    <b-dropdown-item href="/user">User preferences
                    </b-dropdown-item>
                    <b-dropdown-item @click="logout()">Log out</b-dropdown-item>
                </b-nav-item-dropdown>
                </navbar-nav>
        </b-navbar>
        <p></p>
        <b-container fluid="sm" v-if="logged_in">
            <p></p>
            <b-button href="/app-page">Back to my templates</b-button>
            <p></p>
            <!--<b-alert show="5" variant="warning">
                Welcome {{user_name}}
            </b-alert>-->
            <!--<p>Import curated templates</p>
            <b-button @click="import_templates_from_server('neuro.xml'); $bvModal.hide('template-download')">Curated Neuroradiology</b-button>
            <p></p>
            <p>Experimental import of RSNA approved templates on RadReport.com (Experimental!!)</p>
            <b-button v-if="importing" variant="primary" disabled>
                Importing template...
                <b-spinner small></b-spinner>
            </b-button>
            <div v-if="!importing">
                <b-input-group>
                    <b-form-input v-model="radreport_search_term"></b-form-input>
                    <b-input-group-append>
                        <b-button @click="update_radreport_search(); show_count=true" variant="success">Search</b-button>
                    </b-input-group-append>
                </b-input-group>
                <p></p>
                <p v-if="show_count">{{radreport_table.length}} items found</p>
                <b-table sticky-header striped hover head-variant="light" :items="radreport_table">
                    <template #cell(title)="row">
                        <b-button variant="link" size="sm" @click="importing=true; download_radreport(row.item)">
                            {{row.item.title}}
                        </b-button>
                    </template>
                </b-table>
            </div>
            <template #modal-footer="{ close }">
                <b-button variant="danger" @click="$bvModal.hide('template-download')">Cancel</b-button>
            </template>-->
            <p>Select one or more templates and then click to bring them in to your own library:</p>
            <b-form-group ok-only>
                <div>
                </div>
                <p></p>
                <b-card no-body>
                    <template #header>
                        <b-button variant="success" @click="import_from_store()">Import to my library</b-button>
                    </template>
                    <b-tabs v-model="prefs.current_tab" card>
                        <b-tab v-for="x in p_specialties" v-if="items_in_list(x) && x !='Generic' && x !='Other'" :key="'dyn-tab-' + x" :title="x">
                            <template v-for="y in p_modalities">
                                <h3 v-if="items_in_list(x, y)">{{y}}</h3>
                                <template v-for="z in p_regions">
                                    <h4 style="font-size:small" v-if="items_in_list(x, y, z)">{{z}}</h4>
                                    <template v-for="n in public_templates">
                                        <b-form-checkbox plain inline v-model="n.selected" variant="link" v-if="n.specialty==x && n.modality ==y && n.region ==z &&n.type != 1">{{n.name}} </b-form-checkbox>
                                    </template>
                                </template>
                            </template>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </b-form-group>
    </div>
    </b-container>
    </div>
    <script>
    /* GLOBAL VARIABLES */

    window.app = new Vue({
        components: {
            //VueBootstrapTypeahead
        },
        el: '#app',
        data: {
            mode: 'templates',
            edit_mode: 'templates',
            modalities: [],
            specialties: [],
            regions: [],
            module: "",
            components: loadXML("static/xml/components.xml"),
            templates: loadXML("static/xml/empty.xml"),
            reportText: "",
            template: "", // Pointer to the template in the templates array
            index: "",
            templateForm: [], // The current form being worked on
            selected_n: null, // Currently selected element object
            user_name: '',
            user_name_submit: '',
            user_email: '',
            user_password: '',
            logged_in: false,
            new_template_name: '',
            import_file: null,
            template_changed: null,
            radreport_titles: [],
            radreport_table: [],
            radreport_search_term: '',
            show_count: false,
            importing: false,
            prefs: {
                current_tab: null
            },
            public_templates: [],
            p_modalities: [],
            p_specialties: [],
            p_regions: [],
        },
        beforeCreate() {
            // Get login info and user templates
            fetch(`${window.origin}/check-login`, {
                    method: "GET",
                    credentials: "include",
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                .then(response => {
                    if (response.ok) {

                    }
                    if (response.status !== 200) {
                        alert("Login failure " + response.status)

                        return;
                    }
                    return response.json()
                })
                .then(xml => {

                    this.user_name = xml.username;
                    this.logged_in = true;
                    var obj = this.update_templates(xml.templates_modules, this.templates);
                })
                .catch(function(error) {
                    console.log("Fetch error: " + error);
                });

            // Get list of templates in the store
            fetch(`${window.origin}/store-list`, {
                    method: "GET",
                    credentials: "include",
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                .then(response => {
                    if (response.ok) {

                    }
                    if (response.status !== 200) {
                        alert("Login failure " + response.status)

                        return;
                    }
                    return response.json()
                })
                .then(json => {

                    this.public_templates = json;

                    // Work out store categories
                    this.p_modalities = [];
                    this.p_specialties = [];
                    this.p_regions = [];

                    this.public_templates.forEach(t => {
                        if (t.modality != null && t.modality != "" && t.type == 0) {
                            if (!this.p_modalities.find(n => {
                                    return n == t.modality;
                                })) this.p_modalities.push(t.modality);
                            if (!this.p_specialties.find(n => {
                                    return n == t.specialty;
                                })) this.p_specialties.push(t.specialty);
                            if (!this.p_regions.find(n => {
                                    return n == t.region;
                                })) this.p_regions.push(t.region);
                        }

                    });

                })
                .catch(function(error) {
                    console.log("Fetch error: " + error);
                });

        },

        created() {
            this.get_templates();
        },

        methods: {
            edit_modules: function() {
                this.mode = 'modules'
            },

            import_templates_from_server: function(name) {

                var entry = {
                    name: name
                }

                fetch(`${window.origin}/import-templates`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                        }
                        if (response.status !== 200) {
                            alert("Login failure " + response.status)
                            return;
                        }
                        return response.json()
                    })
                    .then(xml => {
                        var obj = this.update_templates(xml.templates_modules, this.templates, false);
                        updateUserDatabase(this.templates, this.templates.modules)
                    })
                    .catch(function(error) {
                        console.log("Fetch error: " + error);
                    });

            },
            loadXML_new: function(path_template, path_user) {
                var xhttp = new XMLHttpRequest();
                var temp = [];
                xhttp.my_func = this.update_templates
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        temp = parseXML(this.responseXML, temp);

                        //console.log(temp)
                        //var obj = this.update_templates(this.responseXML, this.templates, false);

                    }
                };
                xhttp.open("GET", path_template, true);
                xhttp.send();

                return temp;
            },

            // Asks for all of the data for a list of supplied template names and stores in user database
            import_from_store: function() {
                var request_templates = this.public_templates.filter(t => {
                    return t.selected;
                })

                fetch(`${window.origin}/store-get-templates`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(request_templates),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                        }
                        if (response.status !== 200) {
                            alert("Failure " + response.status)
                            return;
                        }
                        return response.json()
                    })
                    .then(xml => {
                        console.log(xml)

                        var obj = this.update_templates(xml, this.templates, false);
                        updateUserDatabase(this.templates, this.templates.modules)

                    })
                    .catch(error => {
                        alert("Sorry error: " + error);
                        this.$root.$emit('bv::hide::modal', 'template-download');
                        this.importing = false;
                    });

            },

            import_templates_from_file: function(import_file) {
                var file = import_file;
                if (!file) {
                    return;
                }

                var reader = new FileReader();
                reader.context = this;
                reader.onload = function(e) {
                    var contents = e.target.result;
                    xml = contents;

                    if (xml != null) {
                        var parser = new DOMParser();
                        xmlDoc = parser.parseFromString(xml, "text/xml");
                        if (xmlDoc.getElementsByTagName("html").length == 1) {
                            var user = parse_radreport(xml);
                            merge_templates(this.context.templates, user, true);
                            this.context.selectTemplate(user[0]);
                        } else if (xmlDoc.getElementsByTagName("all").length == 0) this.context.update_templates(xml, null, false);
                    }
                }
                reader.readAsText(file);
            },

            get_templates: function() {
                fetch(`${window.origin}/radreport-list`, {
                        method: "GET",
                        credentials: "include",
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                        }
                        if (response.status !== 200) {
                            alert("Failure " + response.status);
                            return;
                        }
                        return response.json()
                    })
                    .then(json => {
                        t_radreport_titles = json.DATA;

                        for (var n = 0; n < t_radreport_titles.length; n++) {
                            if (t_radreport_titles[n].lang == "English") {
                                this.radreport_titles.push({
                                    "title": t_radreport_titles[n].title,
                                    "template_id": t_radreport_titles[n].template_id,
                                    "template_version": t_radreport_titles[n].template_version,
                                    "specialty": t_radreport_titles[n].specialty
                                })
                            }
                        }

                    })
                    .catch(function(error) {
                        console.log("Fetch error: " + error);
                    });
            },

            update_radreport_search() {
                this.radreport_table = this.radreport_titles.filter(t => {
                    return (t.title.toLowerCase().search(this.radreport_search_term.toLowerCase()) != -1)
                })
            },

            download_radreport: function(item) {

                fetch(`${window.origin}/radreport-get-template`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(item),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                        }
                        if (response.status !== 200) {
                            alert("Failure " + response.status)
                            return;
                        }
                        return response.json()
                    })
                    .then(json => {
                        var id = json.template_id;
                        var rad_meta = this.radreport_titles.find(t => {
                            return t.template_id == id;
                        });
                        console.log(rad_meta);

                        var user = parse_radreport(json.xml, "specialty", "modality", "region");
                        merge_templates(this.templates, user, true);
                        this.selectTemplate(user[0]);
                        this.$root.$emit('bv::hide::modal', 'template-download');
                        this.importing = false;
                    })
                    .catch(error => {
                        alert("Sorry I could not obtain that one. This is an experimental feature still being worked on...");
                        this.$root.$emit('bv::hide::modal', 'template-download');
                        this.importing = false;
                    });

            },

            download_templates: function() {
                fetch(`${window.origin}/check-login`, {
                        method: "GET",
                        credentials: "include",
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                        }
                        if (response.status !== 200) {
                            alert("Login failure " + response.status)

                            return;
                        }
                        return response.json()
                    })
                    .then(xml => {
                        var save = "<?xml version=\"1.0\" encoding=\"ISO8859-1\"?>" + xml.templates_modules;


                        save_to_file(save, "my_templates.xml", "text/xml")


                    })
                    .catch(function(error) {
                        console.log("Fetch error: " + error);
                    });
            },

            items_in_list: function(specialty, modality, region) {
                var is_in = this.public_templates.filter(x => {
                    return x.specialty == specialty;
                })

                if (modality) is_in = is_in.filter(x => {
                    return x.modality == modality;
                });

                if (region) is_in = is_in.filter(x => {
                    return x.region == region;
                });

                return is_in.length;
            },
            update: function(event) {},

            findList: function(text, symbol_start, symbol_end) {
                var n = 0 - symbol_start.length;
                do {
                    n = text.indexOf(symbol_start, n + symbol_start.length);
                    if (n != -1) {
                        end = text.indexOf(symbol_end, n);
                    }
                } while (n != -1);
                return text;
            },

            clearTemplate: function() {
                var temp = this.templates.find(t => {
                    return t.name == this.templateForm.name
                })
                this.reset();
                this.selectTemplate(temp);
            },

            reset: function() {
                this.save_as_new_modal.new_name = null;
                this.save_as_new_modal.new_specialty = null;
                this.save_as_new_modal.new_modality = null;
                this.save_as_new_modal.new_region = null;
                this.save_as_new_modal.other_specialty = null;
                this.save_as_new_modal.other_modality = null;
                this.save_as_new_modal.other_region = null;

                this.reportText = "";
                this.module = "";
                this.template = "";
                this.index = "";
                this.templateForm = [];
                this.selected_n = null;
            },

            selectTemplate: function(event) {
                this.reset();
                this.template = event;
                this.writeTemplate();
                window.scrollTo(0, 0);
            },

            selectModule: function(event) {
                this.module = event;
            },

            writeTemplate: function() { // Writes the form from the selected template
                this.templateForm = [];
                this.templateForm = parseFindings(this.template.xml.childNodes, this.templates.modules)
                for (var n = 0; n < this.templateForm.length; n++) {
                    this.templateForm[n].array_id = unique_id();
                }
                this.templateForm.name = this.template.name;
                this.templateForm.modality = this.template.modality;
                this.templateForm.region = this.template.region;
                this.templateForm.specialty = this.template.specialty;
                this.save_as_new_modal.new_name = this.template.name;
                this.save_as_new_modal.new_specialty = this.template.specialty;
                this.save_as_new_modal.new_modality = this.template.modality;
                this.save_as_new_modal.new_region = this.template.region;

                //window.history.pushState({}, '', "");
            },

            blankTemplate: function() {
                var index = this.templates.find(i => {
                    return (i.name.trim() == "Blank")
                });
                this.selectTemplate(index);

            },

            blankModule: function() {
                var index = this.templates.modules.find(i => {
                    return (i.name.trim() == "Blank")
                });
                this.selectTemplate(index);

            },

            n_from_element(element) { // Returns n in templateform of element
                var index = this.templateForm.findIndex(i => {
                    return (i.array_id == element.array_id)
                });
                return index;
            },

            deleteElement() {
                var index = this.n_from_element(this.selected_n)
                this.templateForm.splice(index, 1);
            },

            deleteModule() {
                if (this.templateForm.name == "Blank") { alert("You cannot delete the blank module"); return; }

                var i = this.templates.modules.findIndex(n => {
                    return (n.name == this.templateForm.name);
                });
                this.templates.modules.splice(i, 1);
                updateUserDatabase(this.templates, this.templates.modules);
                this.reset();


            },

            deleteTemplate() {
                if (this.templateForm.name == "Blank") { alert("You cannot delete the blank template"); return; }

                var i = this.templates.findIndex(n => {
                    return (n.name == this.templateForm.name);
                });
                this.templates.splice(i, 1);
                updateUserDatabase(this.templates, this.templates.modules);
                this.reset();
            },

            delete_all_templates() {
                var temp = this.templates.modules;
                this.templates = this.templates.filter(n => {
                    return (n.name == "Blank")
                })
                this.templates.modules = temp;

                updateUserDatabase(this.templates, this.templates.modules);
                this.reset();
            },
            delete_all_modules() {
                //var temp = this.templates.modules;
                this.templates.modules = this.templates.modules.filter(n => {
                    return (n.name == "Blank")
                })
                updateUserDatabase(this.templates, this.templates.modules);
                this.reset();
            },
            queryInsert: function(element) {
                if (-1 == this.templates.modules.findIndex(n => { return (n.name == element.text) })) {
                    alert("Module not installed!")
                    return
                };

                this.selectElement(element);
                var selected = this.n_from_element(this.selected_n)
                selected = selected - 1;
                this.module = this.templates.modules.find(function(i) {
                    return i.name == element.text;
                });

                this.insertModule(null, "above", element.disappear, true);
            },
            insertObject(type, position = false) {
                var index = this.n_from_element(this.selected_n);
                this.object.type = type;
                if (index == 0 && position == false) {
                    this.$root.$emit('bv::show::modal', 'position-insert-modal');
                } else {
                    this.object.position = position;
                    // Component
                    if (this.object.type == "component") this.$root.$emit('bv::show::modal', 'insert-component-modal');
                    // Text entry
                    if (this.object.type == "text") this.insertComponent("Text Entry", true);
                    // Module
                    if (this.object.type == "module") this.$root.$emit('bv::show::modal', 'control_modal');
                }
            },

            // Insert module after selected element. If no values passed then uses module in this.module
            insertModule(selected_module, position, disappear, dont_save = false) {
                var offset = (this.object.position == 'above') ? -1 : 0;
                var place = 0;
                if (position == "below") place = 1;

                if (selected_module) {
                    this.module = this.templates.modules.find(function(i) {
                        return i.name == selected_module;
                    });
                }
                var module_data = _.cloneDeep(this.module)
                var module_id = unique_id();
                var index_start = this.n_from_element(this.selected_n) + offset + place;

                if (disappear) {
                    //this.templateForm.splice(this.n_from_element(this.selected_n), 1)
                    this.selected_n.hide = true;
                }

                for (var n = 0; n < module_data.elements.length; n++) {
                    module_data.elements[n].array_id = unique_id();
                    module_data.elements[n].meta.id = module_id;
                    module_data.elements[n].dont_save = dont_save;
                    this.templateForm.splice(index_start + n, 0, module_data.elements[n]);
                }


                this.object.type = null;
                this.object.position = null;
            },


            insertComponent(component_name, dont_show_options) {
                this.$root.$emit('bv::hide::modal', 'insert-component-modal');
                var offset = (this.object.position == 'above') ? 0 : 1;

                var index = this.n_from_element(this.selected_n);
                var component = this.components.modules.findIndex(i => {
                    return (i.name == component_name)
                });

                //var module_data = _.cloneDeep(this.components.modules[component].elements[0]);
                var module_data = parseFindings(this.components.modules[component].xml.childNodes, this.templates.modules)[0]

                module_data.meta = {
                    this_is_module: false,
                }
                module_data.array_id = unique_id();
                //module_data.present = true
                this.templateForm.splice(this.n_from_element(this.selected_n) + offset, 0, module_data);

                if (!dont_show_options) {
                    this.selectElement(module_data);
                    this.setupEdit(module_data);
                    this.$root.$emit('bv::show::modal', 'edit_modal');
                }
                this.object.type = null;
                this.object.position = null;
            },
            selectElement(element) {
                this.selected_n = element
            },

            setupEdit(element) {
                this.selectElement(element);
                this.editModal.value = JSON.stringify(this.templateForm[this.n_from_element(this.selected_n)]);

            },
            copyReport: function() {

                var copyText = "";
                for (var n = 0; n < this.templateForm.length; n++) {
                    copyText += this.templateForm[n].printContents();
                }
                // Some grammer corrections
                copyText = copyText.trim();
                copyText = copyText.replace(/(\n){3,}/g, "\n\n"); // Remove triple or more newlines

                // Put in clipboard
                const listener = function(ev) {
                    ev.preventDefault();
                    ev.clipboardData.setData('text/plain', copyText);
                };
                document.addEventListener('copy', listener);
                document.execCommand('copy');
                document.removeEventListener('copy', listener);

                // Display Modal
                this.copyModal.text = copyText;
                this.$root.$emit('bv::show::modal', this.copyModal.id);

            },

            // Saves this module locally (and then calls to save on server)
            exportXML_modules: function() {
                if (this.templateForm.name == "Blank") {
                    alert("You cannot make changes to this blank template");
                    return;
                }

                // First I turn the gui elements to xml and then back again to blank the entries. 
                var xml_doc = document.implementation.createDocument("", "", null);
                var template_gui = this.templateForm;

                // Build new template xml from GUI
                template = template_to_xml(template_gui, xml_doc);
                var new_element = {
                    name: this.templateForm.name,
                    elements: parseFindings(template.querySelector("content").childNodes, this.templates.modules),
                    xml: template.querySelector("content")

                }

                var exists_in_user_modules = null;
                for (var n = 0; n < this.templates.modules.length; n++) {
                    if (this.templates.modules[n].name == this.templateForm.name) {
                        this.templates.modules[n] = new_element;
                        exists_in_user_modules = true;
                    }
                }
                if (!exists_in_user_modules) {
                    this.templates.modules.push(new_element);
                }

                // Save to server                   
                updateUserDatabase(this.templates, this.templates.modules);
            },

            // Saves this template locally (and then calls to save on server)
            exportXML_templates: function() {
                // I turn the gui elements to xml and then back again to blank the entries. 
                var xml_doc = document.implementation.createDocument("", "", null);
                var template_gui = _.cloneDeep(this.templateForm);

                // Remove any "don't save" elements (usually inserted by query_insert)
                template_gui = template_gui.filter(n => {
                    if (n.dont_save && n.dont_save == true) return false
                    else return true;
                });

                // Search in the template for modules
                var module_array = []
                for (var n = 0; n < template_gui.length; n++) {
                    if (template_gui[n].meta.this_is_module) {
                        var temp_module = [];
                        var module_id = template_gui[n].meta.id;
                        temp_module.push(template_gui[n]);
                        if (template_gui[n + 1] && template_gui[n + 1].meta.id == module_id && (n + 1) < template_gui.length) {
                            do {
                                temp_module.push(template_gui[n + 1]);
                                n++;
                            }
                            while ((n + 1) < template_gui.length && template_gui[n + 1].meta.id == module_id)
                        }
                        module_array.push(temp_module);
                    }
                }

                // Check modules to see whether they have changed
                module_array.forEach(n => {
                    var temp_module = [];
                    for (var nn = 0; nn < n.length; nn++) {
                        temp_module.push(_.cloneDeep(n[nn]))
                        delete temp_module[nn].meta.id;
                        delete temp_module[nn].array_id;
                    }
                    var i = this.templates.modules.find(m => {
                        return (m.name == n[0].meta.module_name)
                    });

                    if (JSON.stringify(temp_module) != JSON.stringify(i.elements)) {
                        module_array = module_array.filter(m => {
                            return !(m[0].meta.id == n[0].meta.id)
                        })
                    }
                })

                // Remove modules and replace with "Insert"
                for (var n = 0; n < module_array.length; n++) {
                    var id = module_array[n][0].meta.id;
                    var index = template_gui.findIndex(x => {
                        if (x.meta.this_is_module && x.meta.id == id) return true;
                        else return false;
                    });
                    template_gui.splice(index, module_array[n].length);

                    template_gui.splice(index, 0, {
                        type: "insert",
                        module: module_array[n][0].meta.module_name,
                        meta: {
                            this_is_module: false
                        },
                        exportTemplate: function(xml_doc) {
                            var xml_el = xml_doc.createElement(this.type);
                            xml_el.innerHTML = this.module.trim();
                            return xml_el;
                        }
                    })
                }

                template = template_to_xml(template_gui, xml_doc);
                var new_template = {
                    name: this.templateForm.name.replace(/[\n\r]\t/g, '').trim(),
                    modality: this.templateForm.modality.replace(/[\n\r]\t/g, '').trim(),
                    region: this.templateForm.region.replace(/[\n\r]\t/g, '').trim(),
                    specialty: this.templateForm.specialty.replace(/[\n\r]\t/g, '').trim(),
                    elements: parseFindings(template.querySelector("content").childNodes, this.templates.modules, null),
                    xml: template.querySelector("content")
                }
                var xml = (new XMLSerializer()).serializeToString(template);

                // Search in the user_templates and replace if exists. If not then append. 
                var exists_in_user_templates = null;
                for (var n = 0; n < this.templates.length; n++) {
                    if (this.templates[n].name == this.templateForm.name) {
                        this.templates[n] = new_template;
                        exists_in_user_templates = true;
                    }
                }
                if (!exists_in_user_templates) {
                    this.templates.push(new_template);
                }
                updateUserDatabase(this.templates, this.templates.modules);
            },

            // Reload templates/modules by adding xml to existing
            update_templates: function(xml, templates, overwrite = true) {
                templates = this.templates;


                //  Update modules
                if (xml != null) {
                    var parser = new DOMParser();
                    xmlDoc = parser.parseFromString(xml, "text/xml");
                    var user = []
                    var t = xmlDoc.getElementsByTagName("module");

                    for (var i = 0; i < t.length; i++) {
                        var t_name = t[i].querySelector(
                            "name").innerHTML.replace(/\t/g, '').trim();
                        var t_findings = t[i].querySelector(
                            "content").childNodes;
                        var elements = parseFindings(t_findings, null, t_name);

                        user.push({
                            name: t_name,
                            elements: elements,
                            xml: t[i].querySelector(
                                "content")
                        });
                    }
                    merge_templates(templates.modules, user, true)

                    // Parse user templates
                    var user = []
                    var t = xmlDoc.getElementsByTagName("template");

                    for (var i = 0; i < t.length; i++) {
                        var t_name = t[i].querySelector(
                            "name").innerHTML.replace(/[\n\r]\t/g, '').trim();
                        var t_modality = t[i].querySelector(
                            "modality");
                        if (t_modality) t_modality = t_modality.innerHTML.replace(/\t/g, '').trim();
                        var t_region = t[i].querySelector("region");
                        if (t_region) t_region = t_region.innerHTML.replace(/\t/g, '').trim();
                        var t_specialty = t[i].querySelector("specialty");
                        if (t_specialty) t_specialty = t_specialty.innerHTML.replace(/\t/g, '').trim();
                        var t_findings = t[i].querySelector(
                            "content").childNodes;
                        var elements = parseFindings(t_findings, templates.modules);
                        var text = t[i].querySelector("content").innerHTML

                        user.push({
                            name: t_name,
                            specialty: t_specialty,
                            region: t_region,
                            modality: t_modality,
                            elements: elements,
                            xml: t[i].querySelector(
                                "content")
                        });
                    }
                    merge_templates(templates, user, true)
                    templates.sort((a, b) => {
                        return (a.name > b.name)
                    });
                    templates.modules.sort((a, b) => {
                        return (a.name > b.name)
                    });
                }

                // Rework categories
                this.modalities = [];
                this.specialties = [];
                this.regions = [];

                templates.forEach(t => {
                    if (t.modality != null && t.modality != "") {
                        if (!this.modalities.find(n => {
                                return n == t.modality;
                            })) this.modalities.push(t.modality);
                        if (!this.specialties.find(n => {
                                return n == t.specialty;
                            })) this.specialties.push(t.specialty);
                        if (!this.regions.find(n => {
                                return n == t.region;
                            })) this.regions.push(t.region);
                    }

                });

                this.modalities.sort().push("Other");
                this.specialties.sort().push("Other");
                this.regions.sort().push("Other");

                this.templates = templates;
            },

            saveChanges: function() {
                if (this.templateForm.name != "Blank") this.exportXML_templates();
                else {
                    alert("You cannot make changes to this blank template")
                    this.$root.$emit('bv::show::modal', 'save_as_new_modal');
                }
            },

            saveAsNew: function() {
                var list = null;
                if (this.mode == 'templates') list = this.templates;
                else list = this.templates.modules;
                // Search if name already 
                if (-1 != list.findIndex(n => {
                        return (n.name.trim() == this.save_as_new_modal.new_name.trim())
                    })) {
                    alert("Name already exists: " + this.save_as_new_modal.new_name);
                    return;
                } else {
                    this.templateForm.name = this.save_as_new_modal.new_name;
                    if (this.save_as_new_modal.new_specialty == "Other") this.templateForm.specialty = this.save_as_new_modal.other_specialty;
                    else this.templateForm.specialty = this.save_as_new_modal.new_specialty;
                    if (this.save_as_new_modal.new_modality == "Other") this.templateForm.modality = this.save_as_new_modal.other_modality;
                    else this.templateForm.modality = this.save_as_new_modal.new_modality;
                    if (this.save_as_new_modal.new_region == "Other") this.templateForm.region = this.save_as_new_modal.other_region;
                    else this.templateForm.region = this.save_as_new_modal.new_region;
                    document.getElementById("template_name").innerHTML = this.save_as_new_modal.new_name

                }
                if (this.mode == 'templates') this.exportXML_templates();
                else this.exportXML_modules()

                this.update_templates(null, null)

            },

            login: function() {
                var entry = {
                    user_email: this.user_email,
                    user_password: this.user_password
                }

                fetch(`${window.origin}/login`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                        }
                        if (response.status !== 200) {
                            alert("Login failure " + response.status)
                            return;
                        }
                        return response.json()
                    })
                    .then(xml => {
                        this.user_name = xml.username;
                        this.logged_in = true;
                        var obj = this.update_templates(xml.templates_modules, this.templates);
                    })
                    .catch(function(error) {
                        console.log("Fetch error: " + error);
                    });


            },


            register: function() {
                var entry = {
                    user_email: this.user_email,
                    user_password: this.user_password,
                    user_name: this.user_name_submit
                }

                fetch(`${window.origin}/register`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {
                            alert("Registration success")
                            this.$root.$emit('bv::show::modal', 'login-modal');

                        }
                        if (response.status !== 200) {
                            alert("Registration failure " + response.status)

                            return;
                        }
                        return response
                    })
                    .catch(function(error) {
                        console.log("Fetch error: " + error);
                    });

            },
            logout: function() {
                fetch(`${window.origin}/logout`, {
                        method: "POST",
                        credentials: "include",
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {
                        if (response.ok) {

                            this.logged_in = false;
                            this.user_name = '';
                            this.user_password = '';
                            this.user_email = '';
                            window.location.reload(true)

                        }
                        if (response.status !== 200) {
                            alert("Registration failure " + response.status)

                            return;
                        }
                        return response
                    })
                    .catch(function(error) {
                        console.log("Fetch error: " + error);
                    });
            }
        }
    });
    </script>
</body>

</html>